.footer__address {
  display: block;
  margin-bottom: 9px;

  color: $primary-white-color;
  line-height: $secondary-line-height;
  font-style: normal;
}
.footer__item:first-child {
  margin-bottom: 9px;
}
.footer__contacts {
  display: block;
  @include animation(color);

  color: $footer-color;
  line-height: $secondary-line-height;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}
