.nav {
  @extend %flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  position: relative;
  display: block;
  padding: 32px 0;

  @include animation(color);

  color: $title-text-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}
.nav__link.current {
  color: $accent-color;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
