.logo {
  display: block;
  margin-right: 93px;

  color: $accent-color;
  font-family: $secondary-font;
  font-size: 26px;
  line-height: $fourthline-height;
  text-decoration: none;
}
.header__logo--black {
  color: $primary-black-color;
}
