.footer__form {
  display: flex;
  margin-left: 93px;
}

.footer__form-appeal {
  margin-bottom: 20px;

  display: block;
  font-weight: $secondary-font-weight;
  color: $primary-white-color;
  text-transform: uppercase;
}

.footer__form-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $footer-backgroung-color;
  color: $primary-text-color;

  &::placeholder {
    color: $footer-color;
    font-size: $secondary-font-size;
    line-height: 1.25;
  }
}

.footer__button {
  @extend %flex;
  width: 200px;
  height: 50px;
  margin-top: 36px;
  margin-left: 12px;
  padding: 10px 0 10px 29px;
  outline: 0;

  border: 0px;
  background-color: $accent-color;
  box-shadow: $primary-shadow;
  border-radius: 4px;
  color: $primary-white-color;
  font-weight: $secondary-font-weight;
  font-size: $secondary-font-size;
  line-height: $third-line-height;
  letter-spacing: $secondary-letter-spacing;
  text-align: left;
}

.footer__form-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $primary-white-color;
}
